.main-header {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 5px 15px 0 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    .icon {
        margin-right: 10px;
    }
    &__promo {
        width: 100%;
        text-align: center;
        order: 3;
        font-size: .75rem;
        &--opt-2 {
            width: 50%;
            text-align: left;
        }
        @mixin atMedium {
            order: 1;
            font-size: 1rem;
		}
    }
    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        &::before {
            content: "";
            transition: transform .3s ease-out;
            transform-origin: 0 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #000;
        }
        &__middle {
            position: absolute;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #000;
        }
        &::after {
            content: "";
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #000;
        }
        @mixin atMedium {
            display: none;
        }
        &--close-x {
            &::before {
                transform: rotate(45deg) scaleX(1.25);
            }
            .main-header__menu-icon__middle {
                opacity: 0;
                transform: scaleX(0);
            }
            &::after {
                transform: rotate(-45deg) scaleX(1.25) translateY(1px);
            }
        }
    }
    &__logo {
        position: relative;
        h1 {
            text-indent: -9999px;
            background-image: url('../../assets/images/logo.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
            height: 50px;
        }
        // border: 1px solid red;
        order: 4;
        width: 100%;
        text-align: center;
        @mixin atMedium {
            order: 3;
            width: calc(100% / 3);
            padding: 15px;
		}
    }
    &__actions {
        order: 2;
        display: flex;
        align-items: center;
        @mixin atMedium {
			order: 4;
            width: calc(100% / 3);
            text-align: right;
            justify-content: flex-end;
		}
    }
        
    &__social {
        display: flex;
        align-items: center;
        order: 1;
        &--opt-2 {
            width: 50%;
            text-align: right;
        }
        & ul li {
            display: inline-block;
        }
        @mixin atMedium {
			order: 2;
            width: calc(100% / 3);
		}
    }
    &__nav {
        order: 5;
        margin: 0 auto;
        width: 100%;
        z-index: 1;
        background-color: #fff;
        @mixin atMedium {
            position: relative;
        }
        &__top{
            display: flex;
            width: 65%;
            margin: 0 auto;
            flex-direction: column;
            position: fixed;
            background: #fff;
            transform: translateX(-100%);
            transition: .2s transform ease-out;
            height: 100vh;
            top: 0;
            left: 0;
            &--open {
                transform: translateX(0);    
            }
            @mixin atMedium {
                flex-direction: row;
                justify-content: space-around;
                position: initial;
                height: auto;
                transform: none;
            }
            li.dropdown-1 {
                position: relative;
            }
            ul {
                display: none;
                position: absolute;
                border: 2px solid #000;
                top: 100%;
                min-width: 125px;
                background-color: #fff;
                li {
                    text-align: left;    
                }
            }
            li.dropdown-1:hover > ul{
                display: block;
                left: 0;
                top: 100%
            }
            li.dropdown-2:hover > ul{
                display: block;
                left:100%;
                top: -2px;
            }

            li {
                text-align: center;
                padding:10px;
                &:hover {
                    // background: #ccc;
                }
            }
        }
    }
}