.mega-menu {
    position: initial !important;
    &__container {
        display: none;
        background: #fff;
        position: absolute;
        border: 2px solid #000;
        top: 100%;
        width: 100%;
        left: 0;
        padding: 15px;
    }
    &:hover &__container {
        display: flex;
        ul {
            display: block;
            position: initial;
            border: none;
            li:hover {
                background: none;
            }
        }
    }
    &__container__col {
        img {
            max-width: 250px;
            margin-right: 30px;
        }
        &__text {
            padding: 0 15px;
            h4 {
                text-align: left;
                margin-bottom: 15px;
            }
            ul li {
                padding: 5px 0;
            }
        }
    }
}